/* EnterMedia Image Search Styles */

form#embridge-search-asset-form div.form-item {
  display: inline;
  float: left;
  margin-bottom: 25px;
  margin-right: 25px;
  min-width: 240px;
}

form#embridge-search-asset-form input[value="Search"] {
  margin-top: 15px;
}

form#embridge-search-asset-form .embridge-asset-search-result .asset-row {
  height: 130px;
  width: 33%;
}

div.embridge-asset-search-result > div:first-child {
  clear: left;
}

div.embridge-asset-search-result input[type="radio"],
div.embridge-asset-search-result input[type="select"],
div.embridge-asset-search-result input[type="checkbox"] {
  display: block;
}

#entermedia-settings .form-checkboxes .form-item {
  float: left;
  width: 250px;
}

#entermedia-settings .description {
  clear: left;
}

.embridge-asset-search-result {
  width: 100%;
}
.embridge-asset-search-result.thumbnail-view,
.embridge-asset-search-result.list-view {
  width: 99%;
  overflow: hidden;
  margin: 0 0 20px 0;
  border: 1px solid #bebfb9;
}
.embridge-asset-search-result.thumbnail-view .asset-row {
  display: block;
  float: left;
  height: auto;
  min-width: 200px;
  max-width: 220px;
  min-height: 260px;
  margin: 10px;
  border: 1px solid #eeeeee;
}
.embridge-asset-search-result.thumbnail-view .asset-row .asset,
.embridge-asset-search-result.list-view .asset-row .asset {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}
.embridge-asset-search-result.thumbnail-view .asset-row .asset .checkbox {
  position: absolute;
  float: left;
  padding: 4px;
  margin: 0 auto;
}

.embridge-asset-search-result.thumbnail-view .asset-row .asset .thumbnail {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.embridge-asset-search-result.thumbnail-view .asset-row .asset .thumbnail * {
  vertical-align: middle;
}

.embridge-asset-search-result.thumbnail-view .asset-row .asset .field-title {
  border-top: 1px solid #eeeeee;
  margin: 0;
  vertical-align: middle;
  max-height: 39px;
  overflow: hidden;
}

.embridge-asset-search-result.list-view .asset-row .preview,
.embridge-asset-search-result.list-view .asset-row .field-title {
  width: 200px;
  margin: 0;
}

.embridge-asset-search-result.list-view table {
  border: none;  
}

.embridge-asset-search-result.list-view table .sort-link-wrapper {
  float: right;
  border: none;
}

.embridge-asset-search-result .asset-row .asset img {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}
.embridge-asset-search-result .pager {
  clear: both;
  float: left;
  margin: 10px;
}

.embridge-asset-search-result .pager a {
  font-weight: bold;
  margin: 0 20px 0 0;
}

#embridge-page-wrapper #main {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;
}
.embridge-toggle-view {
  clear: both;
}

.embridge-toggle-view a.current-view {
  font-weight: bold;
}

body.embridge-html {
  height: auto;
}

.embridge-html .form-item {
  display: inline;
  float: left;
  min-width: 220px;
  min-height: 44px;
  margin: 10px 0;
  padding: 0px;
}
.embridge-html #embridge-asset-upload-form .form-item {
  clear: both;
  display: block;
}
.embridge-html .form-item .form-select,
.embridge-html .form-item .form-text {
  min-width: 180px;
}
.embridge-html .form-submit {
  display: inline;
  float: left;
}
.embridge-html #edit-search {
  clear: both;
}

.embridge-html #page-title {
  background: none;
}

.embridge-html #embridge-asset-upload-form .form-item-files-upload-file {
  display: inline;
  float: left;
}
.embridge-html #embridge-asset-upload-form .form-item-files-upload-button {
  clear: none;
}

table.admin-embridge td.icon {
  background: no-repeat center;
  width: 16px;
}

table.admin-embridge td.operation {
  width: 16px;
}

table.admin-embridge tr.ok {
  background-color: #e5ffe2;
}

table.admin-embridge tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

table.admin-embridge td.status-icon {
  width: 16px;
  padding-right: 0;
}

table.admin-embridge td.status-icon div {
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

table.admin-embridge tr {
  border-bottom: 1px solid #ccc;
}

table.admin-embridge tr td.default-environment {
  font-weight: bold;
}

table.admin-embridge tr.error td.status-icon div {
  background-image: url(/misc/message-16-error.png);
}
