#search_form {
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-size: auto auto;
  background-attachment: scroll;
  background-color: #ffffff;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  clear: both;
  color: #000000;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  position: relative;
}
